.hbar1 {
    display: inline;
    margin: 30px;
}
h1{
    font-size: 200%;
    color: blue;
    font-family: Verdana, serif;
    text-align: left ;
}
h2{
	font-weight:normal;
	font-family:'Arail';
	margin:0 auto;
	min-width:980px;
}

.dfinput{
	width:180px;
	height:28px;
	line-height:34px;
    border: 1px solid #a7b5bc;
    border-right-color: #ced9df;
    border-bottom-color: #ced9df;
    text-indent:10px;}


.divbg{
	background:#e6f2ff;
}
.table-nonfluid {
   width: 400px;
}
th, td{
    text-align: center;
}
ul {
	font-size: 23px
}
