{% extends 'libapp/base.html' %}
{% block body_block %}
<br/>
    <div style="width: 26%; padding-left: 20px">
<h4 style="color: whitesmoke; text-decoration: underline" class="flow-text">Our Vision</h4><br/>
<h6 style="color: whitesmoke; padding-left: 20px" class="flow-text">Leddy Library continues to be known as an innovative community leader that inspires lifelong learning and literacy in a welcoming environment, while respecting and celebrating the unique diversity of Windsor.
<br/><br/></h6>

<h4 style="color: whitesmoke; text-decoration: underline" class="flow-text">Our Mission</h4><br/>
<h6 style="color: whitesmoke; padding-left: 20px" class="flow-text">Leddy Library engages the students of University of Windsor by providing a community gathering place where the joy of reading, discovery and lifelong learning is promoted and encouraged.</h6>
<br/>
    </div>
    <h5 style="color: whitesmoke; padding-left: 10px" class="flow-text">No of hits: {{ about_visits }}</h5>
{% endblock %}