<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href={% static "libapp/css/style.css" %} />
            <link rel="stylesheet" type="text/css" href={% static "libapp/css/bootstrap.min.css" %}/>
            <script src={% static "libapp/jquery.min.js"%}></script>
            <script type="text/javascript" src={% static "libapp/js/bootstrap.min.js"%}></script>

        <title>MAC Library APP - {% block title %}Welcome!{% endblock %}</title>
    </head>


    <body background={% static "libapp/css/bg.png"%}>
    <div>
        <hr/>

         <div id="links-div" class="divbg">
             <ul class="nav nav-tabs">
                 <li><a href="{% url 'app:index' %}">Home</a></li>
                 <li><a href = "{% url 'app:about' %}">About</a></li>
                 <li><a href = "{% url 'app:myacct' %}">My Account</a></li>
                 <li><a href = "{% url 'app:register' %}">Register</a></li>
                 <li><a href = "{% url 'app:suggestions' %}">Suggestions</a></li>
                 <li><a href = "{% url 'app:newitem' %}">Add Sugggestions</a></li>
                 <li><a href = "{% url 'app:searchitem' %}">Search the library</a></li>

             </ul>
        </div>
        <br/>
        <div>
            <h1>{% block myhdg %}Hello User {% endblock %}</h1><br/><br/>

            {% block body_block %}*** {% endblock %}
        {% block footer %}
    <div>
     </div>
        <hr />

        </div>
            <ul>
                <li class="hbar1"><a href="{% url 'app:about' %}">Find out about this site</a></li>
               <li class="hbar1"><a href = "{% url 'app:index' %}">Click here to return to main page</a><br/></li>
            </ul>
        </div>{% endblock %}

    </div>
    </div>
    </body>
</html>
